### Node ###
# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Debug log from npm
npm-debug.log


### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
.idea/
*.iml
*.ipr
*.iws

# JIRA plugin
atlassian-ide-plugin.xml


### Dist
dist


### Temp
.tmp
tmp
